@import '../variables';

.btn {
  display: inline-block;
  background-color: $buttonBg;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  color: $color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color .15s ease-in-out, box-shadow .1s ease-in-out;

  &.secondary {
    background-color: $buttonSecondaryBg;

    &:hover {
      background-color: $buttonSecondaryBgHover;
    }

    &:active {
      background-color: $buttonSecondaryBgActive;
    }
  }

  &.small {
    padding: 10px 20px;
    font-size: 16px;
  }

  &:hover {
    background-color: $buttonBgHover;
  }

  &:active {
    background-color: $buttonBgActive;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(171, 163, 243, 0.6);
  }
}