@import '../variables';

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #252428;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  color: $color;
  padding: 12px 15px;
  transition: box-shadow .1s ease-in-out;

  &[type=file] {
    height: 40px;
    padding: 8px 15px;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(171, 163, 243, 0.6);
  }
}

input[type=file]::file-selector-button {
  border: none;
  outline: none;
  background: #55535A;
  color: $color;
  border-radius: 10px;
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #474449;
}

.label {
  margin-bottom: 7px;
}