$container-xl: 1140px;
$container-l: 960px;
$container-m: 720px;
$container-s: 540px;
$container-xs: 100%;

$color: #FFF;
$bg: #16131B;

$buttonBg: #523EF5;
$buttonBgHover: #4430ef;
$buttonBgActive: #3a26ee;

$cardBg: #343339;

$zModal: 1;